html,
body,
div,
header,
section,
main,
footer,
h1,
h2,
html,
body,
div,
header,
section,
main,
footer,
h1,
h2,
h3,
h4,
p,
input,
button,
input,
label {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'museo_sans300', Arial, sans;
}

section {
  height: auto;
}

.hover {
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}

h1 {
  font-family: 'museo_sans700', Arial, sans;
  font-size: 3em;
  line-height: 1.25em;
  margin: 24px 0;
}

h2 {
  color: #090012;
  font-family: 'museo_sans500', Arial, sans;
  font-size: 2.5em;
  margin-bottom: 0.4925em;
  margin: 24px 0;
}

h3 {
  font-family: 'museo_sans100', Arial, sans;
  margin: 0;
  padding: 0;
  margin: 24px 0;
}

small {
  font-size: 18px;
}

small:before {
  content: '(';
}

small:after {
  content: ')';
}

small a {
  text-decoration: none;
}

p.small-header {
  color: #6b6777;
  font-family: 'Museo-Sans-100', Arial, sans;
  font-size: 1em;
  margin-bottom: 1.0625em;
}

p.intro-text {
  color: #6b6777;
  font-family: 'Museo-Sans-100', Arial, sans;
  font-size: 1.25em;
  line-height: 1.65em;
}

strong {
  font-family: 'Museo-Sans-500', Arial, sans;
}

div.border {
  border-top: 1px solid #e7e7e7;
}

a {
  text-decoration: underline;
  cursor: pointer;
  color: #572c80;
}

a:visited {
  color: #572c80;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}
