.plum {
  color: #422983;
}

td.section:nth-child(1),
td.section:nth-child(2) {
  border-right: 1px solid #eee;
}

td.section.no-bottom-border {
  border-bottom: 0;
}

h2.plan {
  font-size: 2em;
  font-weight: 500;
  margin: 8px 0;
}

.cell-heading h3 {
  font-size: 1em;
  font-weight: 700;
  margin: 16px 0;
}

h3.hmo {
  font-size: 1.4em;
  font-weight: 500;
  margin: 16px 0;
}

h3.provider {
  font-size: 1.2em;
  font-weight: 500;
  margin: 8px 0;
}

.cell {
  padding: 28px;
}

.cell-heading {
  padding: 0 28px;
}

.flex-container {
  display: flex;
}

.flex-container .left {
  width: 50%;
  text-align: left;
}
.flex-container .right {
  width: 50%;
  text-align: right;
}

.hmo.price {
  color: #422983;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
  overflow-x: auto;
  margin-right: auto;
  margin-left: auto;
}
